<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password Email</title>

    <style>
        body {
            background-color: #d6000d;
            font-family: sans-serif;

        }

        .container {
            width: 80%;
            margin: auto;
        }

        .email-body {
            display: block;
            background-color: #fafaf9;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 25px 50px;
        }

        .btn-primary {
            display: block;
            margin: 40px;
            background-color: #d6000d;
            font-weight: bold;
            color: white;
            padding: 10px 30px;
            text-decoration: none;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            justify-self: center;
        }

        .btn-primary:hover {
            background-color: darkred;
        }

        .logo {
            display: flex;
        }

        .logo-img {
            display: flex;
            padding-right: 20px;
            border-right: 1px solid rgba(255, 255, 255, 0.555);
            margin: 20px 20px;
        }

        .logo-heading {
            display: flex;
            color: #fff;
            text-transform: uppercase;
            margin: 20px 0px;
            line-height: 1rem;
            align-content: start;

        }
    </style>

    <div class="container">
        <div class="logo">
            <img src="https://www.qub.ac.uk/schools/media/Media,767339,en.svg"
                alt="Queens University Belfast School of Pharmacy Logo" height="60px" class="logo-img">

            <div class="logo-heading" style="display: inline-block;">
                <p style="font-size: small; margin: 0;">School of</p>
                <p style="font-weight: bold; font-size: medium; margin: 0;">Pharmacy</p>
            </div>

        </div>
        <div class="email-body">
            <h2>Change your password</h2>
            <p>Hi {{studentNo}},</p>
            <p>We've received a request to reset your password for the QAIRx Platform. You can reset your password with
                the button below.</p>

            <a target="_blank" class="btn-primary" href="https://{{link}}">Reset Password</a>
            <p>If you didn't make the request or no longer require a new password, you can safetly ignore this message.
                This
                link will expire in 30 minutes.</p>
            <hr />
            <h3>Issue with the link?</h3>
            <p>Simply copy and paste this link into your browser instead: </p>
            <a href="{{link}}"></a>
        </div>

    </div>




    </body>

</html>